<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.csust.jt.j2ee.book_shop.mapper.BooksMapper">

    <select id="findBookInfoSimple"
            resultType="edu.csust.jt.j2ee.book_shop.model.dto.BookInfoSimpleDto">
        select gid, name, image, approve, price, author
            from books
            order by (approve + 2*sale) desc
            limit 0, #{num};
    </select>

    <select id="findBookInfoSimpleWeek"
            resultType="edu.csust.jt.j2ee.book_shop.model.vo.BookInfoWeekVo">
        SELECT gid, name, classes, price, image, author
            FROM books
            where DATE_SUB(CURDATE(), INTERVAL 7 DAY) &lt;= date(release_date)
            order by (approve + 2*sale) desc
            limit 0, #{num};
    </select>
    <select id="findClassesById" resultType="java.lang.String">
        select name
            from classes
            where cid = #{id};
    </select>
    <select id="findBookPopularInfoWeek"
            resultType="edu.csust.jt.j2ee.book_shop.model.vo.BookPopularInfoWeekVo">
        SELECT gid, name, price, image, author
            FROM books
            where DATE_SUB(CURDATE(), INTERVAL 7 DAY) &lt;= date(release_date)
            order by sale desc
            limit 0, #{num};
    </select>
    <select id="findBookApproveTop"
            resultType="edu.csust.jt.j2ee.book_shop.model.vo.BookApproveTopVo">
        select gid, name, image, approve, author
            from books
            order by approve desc
            limit 0, #{num};
    </select>
    <select id="findBookReleaseDateNew"
            resultType="edu.csust.jt.j2ee.book_shop.model.vo.BookReleaseDateNewVo">

        select gid, name, image, release_date, author
            from books
            order by release_date desc
            limit 0, #{id};
    </select>
    <select id="findBookHighStandard"
            resultType="edu.csust.jt.j2ee.book_shop.model.vo.BookHighStandardVo">
        select gid, name, image, price,author
           from books
           where sale != 0
           order by (UNIX_TIMESTAMP(now())-UNIX_TIMESTAMP(release_date))/(approve + 2*sale)
           limit 0, #{num};
    </select>
    <select id="findBookById"
            resultType="edu.csust.jt.j2ee.book_shop.model.entity.Books">
        select  gid, classes, name, image, sale, release_date, approve, price, author
          from books
          where gid = #{id};
    </select>

    <update id="updateBookSale">
        update books
             set sale = sale + 1
             where gid = #{id};
    </update>

</mapper>